 @import url(https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap);

 body {
 	font-family: Lato;
 	color: white;
 	background-color: rgba(33, 27, 37, 0.963)
 }

 .wrapper {
 	min-height: 100%;
 	display: flex;
 	flex-direction: column;
 	position: relative;
 	overflow: hidden;
 }

 [class*="__container"] {
 	max-width: 1260px;
 	margin: 0 auto;
 	padding: 0 15px;
 }

 .wrapper>main {
 	flex: 1 1 auto;
 }

 .header {
 	text-align: center;
 	padding: 20px;
 	margin-bottom: 100px;
 	font-size: 40px;
 	color: yellow;
 }


 .page {
 	height: auto;
 }

 .form {
 	position: relative;
 	display: flex;
 	gap: 10px;
 	max-width: 300px;
 	margin: 0 auto;
 	justify-content: center;
 }

 .form-box__container {}

 .form__search {
 	align-self: flex-start;
 	background-color: rgb(255, 255, 255);
 	transition: all 0.8s ease 0s;
 	position: relative;
 	left: 45%;
 	flex: 0 0 45px;
 	width: 45px;
 	height: 45px;
 	border-radius: 50%;
 	cursor: pointer;
 	outline: none;
 }

 .form__search::before {
 	font-size: 20px;
 	transition: color 0.3s ease 0s;
 	position: relative;
 	z-index: 2;
 }

 .form__search:focus {
 	outline: 2px solid rgb(249, 3, 3);
 }

 .form__search::after {
 	content: "";
 	position: absolute;
 	top: 0;
 	left: 0;
 	width: 45px;
 	height: 45px;
 	border-radius: 50%;
 	background-color: rgb(184, 44, 44);
 	animation: search 1.5s infinite ease;
 	outline: none;
 }


 .form__search._no-anime::after {
 	display: none;
 }

 .form__search._left {
 	left: 0;
 }

 @keyframes search {
 	0% {
 		transform: scale(0);
 	}

 	100% {
 		opacity: 0.1;
 		transform: scale(2);
 	}
 }

 .form__search:hover:before {
 	color: red
 }

 .form__line {
 	width: 100%;
 	opacity: 0;
 	visibility: hidden;
 	transition: all 2s ease 0.4s;
 }

 .form__line._fast {
 	transition: all 0.1s ease;
 }


 .form__line._active {
 	visibility: visible;
 	opacity: 1;
 }


 .form__input {
 	width: 100%;
 	height: 45px;
 	padding: 0 50px 0px 15px;
 	background-color: transparent;
 	outline: none;
 	border-bottom: 2px solid green;
 	color: white;
 	transition: border-bottom 0.8s ease 0s;
 	letter-spacing: 1px;
 }

 .form__input::placeholder {
 	color: rgb(183, 171, 171);
 	letter-spacing: 2px;
 	font-size: 12px;
 }

 .form__input:focus {
 	transition: border-bottom 0.8s ease 0s;
 	border-bottom: 2px solid rgb(37, 255, 9);


 }



 .form__symbols {
 	margin-top: 5px;
 	line-height: 1.5;
 	letter-spacing: 1px;

 }

 .form__submit {
 	background-color: transparent;
 	align-self: center;
 	transform: rotate(180deg);
 	cursor: pointer;
 	position: absolute;
 	right: 0;
 	top: 0;
 	transform: translateY(30%);
 }

 .form__submit:hover::before {
 	color: red;
 	transition: color 0.6s ease 0s;
 }

 .cat {
 	display: flex;
 	justify-content: center;
 	transform: translateY(100%);
 	transition: transform 2s ease 0s;
 }

 .cat._active-cat {
 	transition: transform 2s ease 0s;
 	transform: translateY(2%);
 }


 .cat img {
 	max-width: 100%;
 }