/* @import url(https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap); */

body {
	font-family: Lato;
	color: white;
	background-color: rgba(13, 11, 11, 0.963)
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
	overflow: hidden;
}

[class*="__container"] {
	max-width: 1260px;
	margin: 0 auto;
	padding: 0 15px;
}

.wrapper>main {
	flex: 1 1 auto;
}

.header {
	text-align: center;
	padding: 20px;
	margin-bottom: 100px;
	font-size: 40px;
	color: yellow;
}


.block {

	margin-bottom: 40px;
}

.block__container {}

.block__header {}

.header-block {
	font-size: 25px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;

}

.header-block:not(:last-child) {
	margin-bottom: 20px;
}

.header-block__title {
	font-size: 35px;
	font-weight: 700;
	letter-spacing: 2px;
}

.header-block__link {
	text-decoration: underline;
}

.block__content {}

.content-block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
}

.content-block__variant {
	font-size: 40px;
}

.content-block__description {
	font-weight: 500;
	font-size: 25px;
	line-height: 1.5;
}

.content-block__description .red {
	color: red;
}

.content-block__description .green {
	color: rgb(7, 105, 9);
}

.content-block__description p:not(:last-child) {
	margin-bottom: 10px;
}

img {
	max-width: 100%;
}