@import url(https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap);

body {
	font-family: Lato;
	color: #424551;
	background-color: white;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
	overflow: hidden;
}

[class*="__container"] {
	max-width: 1260px;
	margin: 0 auto;
	padding: 0 15px;
}

.wrapper>main {
	flex: 1 1 auto;
}

/*==============================================Header============================================================*/

.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	background-color: transparent;
}

.header__container {
	display: flex;
	align-items: center;
	column-gap: 60px;
	min-height: 92px;

}

.header__logo {}

.header__menu {
	flex: 1 1 auto;
}


.menu {}

.menu__body {}

.menu__list {
	display: flex;
	column-gap: 40px;
	row-gap: 10px;
	flex-wrap: wrap;
}

.menu__item {}

.menu__link {
	position: relative;
	line-height: 160%;
	font-weight: 700;
	transition: color 0.3s ease 0s;
}


.menu__link::before {
	content: "";
	display: inline-block;
	margin-bottom: -5px;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 2px;
	background-color: #FF3F3A;
	transition: all 0.4s ease 0s, opacity 0.5s ease 0s;
	opacity: 0;
}

.menu__link:hover::before {
	content: "";
	width: 100%;
	opacity: 1;
}



.header__actions {}

.actions {
	display: flex;
	column-gap: 37px;
	align-items: center;
	flex-shrink: 0;
}

.actions__button {}

.user {
	line-height: 1.3;
	font-weight: 700;
	padding-left: 25px;
	background: url(../img/icons/user-icon.svg) left no-repeat;
}

.user__login {}

.user__login span:hover {
	text-decoration: underline;
}

.user__register {}

.user__register span:hover {
	text-decoration: underline;
}

/*==============================================Main-block============================================================*/



.main-block {
	position: relative;
}

.main-block__container {
	position: relative;
	z-index: 2;
}

.main-block__body {
	display: flex;
	margin-bottom: 190px;
}

.main-block__content {
	flex: 0 0 50%;
	padding-right: 25px;
	align-self: center;
}

.main-block__showreel {}

.showreel {
	position: relative;
	display: inline-flex;
	font-weight: 700;
	font-size: 14px;
	line-height: 150%;
	color: #1E212C;
	gap: 16px;
	align-items: center;
}


.showreel span:hover {
	text-decoration: underline;
}

.showreel::before {
	content: "";
	background: #FF3F3A url(../img/icons/play.svg) center no-repeat;
	flex: 0 0 52px;
	width: 52px;
	height: 52px;
	border-radius: 50%;
}

.showreel::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(255, 64, 58, 0.12);
	width: 52px;
	height: 52px;
	border-radius: 50%;
	animation: play 2s infinite ease;
}

@keyframes play {
	0% {
		transform: scale(0);
	}

	100% {
		opacity: 0.1;
		transform: scale(3);
	}
}

.main-block__showreel:not(:last-child) {
	margin-bottom: 24px;
}

.main-block__title {
	font-weight: 900;
	font-size: 64px;
	line-height: 130%;
	letter-spacing: 1px;
	color: #1E212C
}

.main-block__title:not(:last-child) {
	margin-bottom: 60px;
}

.main-block__buttons {
	display: flex;
	align-items: center;
	gap: 24px;
	flex-wrap: wrap;
}

.main-block__button {}


.main-block__image {
	flex: 0 0 50%;
}

.main-block__image img {
	max-width: 107.8%;
	transform: translateX(7.8%);
}

/*==================================*/

.main-block__decor {}

.decor {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.decor__item {
	position: absolute;

}

.decor__item_1 {
	top: 12.3%;
	left: 4.2%;
	background: url(../img/decor/1.svg) 0 0 no-repeat;
	width: 96px;
	height: 96px;
}

.decor__item_2 {
	bottom: -9.2%;
	left: -7.3%;
	background: url(../img/decor/2.svg) 0 0 no-repeat;
	width: 284px;
	height: 284px;
}

.decor__item_3 {
	bottom: 24%;
	left: 38%;
	background: url(../img/decor/3.svg) 0 0 no-repeat;
	width: 61px;
	height: 61px;
}

.decor__item_4 {
	bottom: 50.5%;
	left: 40.7%;
	background: url(../img/decor/4.svg) 0 0 no-repeat;
	width: 86px;
	height: 47px;
}

.decor__item_5 {
	bottom: 18%;
	right: -1.5%;
	background: url(../img/decor/5.svg) 0 0 no-repeat;
	width: 187px;
	height: 137px;
}

.decor__item_6 {
	top: -3.4%;
	right: 6.25%;
	transform: rotate(135deg);
	background: url(../img/decor/1.svg) 0 0 no-repeat;
	width: 110px;
	height: 110px;
}

/*==================================*/


.main-block__advantage {}

.advantage-main {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
}

.advantage-main__item {}

.item-advantage {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1 0 auto;
	gap: 12px;
	color: #1E212C;
}

.item-advantage:not(:last-child)::after {
	content: '';
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #FF3F3A;
	margin: 0 auto;
}

.item-advantage__value {
	font-weight: 900;
	font-size: 46px;
	line-height: 130%;
}

.item-advantage__text {
	line-height: 160%;
}

.advantage-main__ellipse {
	flex: 0 0 8px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #FF3F3A;
}



/*==============================================Who-we-are===========================================================*/

.who-we-are {
	position: relative;
}

.who-we-are__container {
	position: relative;
	z-index: 2;
}

.who-we-are__body {
	display: flex;
	justify-content: space-between;
	column-gap: 20px;
}

.who-we-are__image {
	flex: 0 1 57.3%;
	align-self: flex-start;

}

.who-we-are__image img {
	max-width: 100%;
}

.who-we-are__content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex: 0 1 31.7%;
}

.who-we-are__title {
	text-align: left;
}

.who-we-are__title:not(:last-child) {
	margin-bottom: 40px;
}


.who-we-are__list {}

.who-we-are__list:not(:last-child) {
	margin-bottom: 22px;
}


.who-we-are__item {
	line-height: 160%;
	position: relative;
	padding-left: 32px;
}

.who-we-are__item::before {
	content: "";
	position: absolute;
	width: 18px;
	height: 18px;
	top: 5px;
	left: 0;
	background: url(../img/icons/check.svg) 0 0 no-repeat;
}

.who-we-are__item:not(:last-child) {
	margin-bottom: 12px;
}

.who-we-are__button {}


.decor__item_who-we-are-left {
	background: url(../img/decor/6.svg) 0 0 no-repeat;
	width: 181px;
	height: 132px;
	transform: rotate(53deg);
	left: -3.7%;
	top: 32%;
}

.decor__item_who-we-are-rigth {
	background: url(../img/decor/7.svg) 0 0 no-repeat;
	width: 287px;
	height: 287px;
	bottom: 22.5%;
	right: -7%;
}


/*==============================================Directions==========================================================*/


.direction {}

.direction__container {}

.direction__header {
	text-align: center;
}

.direction__header:not(:last-child) {
	margin-bottom: 60px;
}

.direction__items {
	display: flex;
	margin: 0 -15px;
	row-gap: 30px;
	flex-wrap: wrap;
	height: 100%;
}

.direction__column {
	flex: 0 0 33.3333%;

}

.direction__item {}

.item-direction {
	display: flex;
	flex-direction: column;
	line-height: 160%;
	padding: 0 15px;

	background-color: #FFFFFF;
	height: 100%;
}

.item-direction__image {
	position: relative;
	padding-bottom: 51.3%;
	overflow: hidden;
	border-radius: 4px 4px 0 0;
}



.item-direction__image img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	transition: transform 1s ease 0s;
}

.item-direction__image img:hover {
	transform: scale(1.03);

}

.item-direction__body {
	padding: 25px;
	border: 1px solid #E5E8ED;
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	flex: 1 1 auto;
	border-radius: 0 0 4px 4px;
}

.item-direction__profession {
	display: inline-flex;
	align-self: flex-start;
	font-weight: 700;
	line-height: 160%;
	color: #FFFFFF;
	padding: 0 8px;
	background-color: #03CEA4;
	border-radius: 4px;
}

.item-direction__profession:hover {
	background-color: #0aac8c;
	transition: background-color 0.3s ease 0s;
}

.item-direction__profession_blue {
	background-color: #5A87FC;
	transition: background-color 0.3s ease 0s;
}

.item-direction__profession_blue:hover {
	background-color: #4876ea;
}

.item-direction__profession_yellow {
	background-color: #F89828;
	transition: background-color 0.3s ease 0s;
}

.item-direction__profession_yellow:hover {
	background-color: #ed9530;
}


.item-direction__profession_pink {
	background-color: #F52F6E;
	transition: background-color 0.3s ease 0s;
}

.item-direction__profession_pink:hover {
	background-color: #f32b6a;
}

.item-direction__profession_purple {
	background-color: #7772F1;
	transition: background-color 0.3s ease 0s;
}

.item-direction__profession_purple:hover {
	background-color: #6a65e4;
}


.item-direction__description {
	line-height: 160%;
	color: #787A80;
	flex: 1 1 auto;
}

.item-direction__description p:not(:last-child) {
	margin-bottom: 10px;
}



.item-direction__link {
	font-weight: 700;
	color: #1E212C;
	align-self: flex-start;
	position: relative;
	padding-right: 40px;
	background: url(../img/icons/arrow.svg) right no-repeat;
}

.item-direction__link:hover {
	text-decoration: underline;
}